@page "/course/overview"
@using HAN.Client.Services
@using HAN.Client.Services.Models

@inject CourseService CourseService;

<div class="mb-3">
    <RadzenHeading class="mb-1" Size="H1" Text="Your Courses. One Page." />
    <RadzenText TextStyle="TextStyle.Subtitle1" Text="This overview shows all courses that are available on the platform." /> 
</div>

@if (_courses == null)
{
    <RadzenText Text="Loading courses..." />
}
else if (_courses.Count == 0)
{
    <RadzenText Text="No courses found." />
}
else
{
    <RadzenDataList WrapItems="true" AllowPaging="false" Data="@_courses" TItem="Course">
        <Template Context="course">
            <RadzenCard Variant="Variant.Outlined">
                <RadzenHeading Size="H3" Text="@course.Name" />
                <RadzenText Text="@course.Description" />
            </RadzenCard>
        </Template>
    </RadzenDataList>
}

@code {
    List<Course> _courses = [];

    protected override async Task<Task> OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        _courses = await CourseService.GetCoursesAsync() ?? new List<Course>();
        
        return Task.CompletedTask;
    }
}