@page "/login-callback"

@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthStateProvider

<h3>Auth</h3>

<h2>@(Success ? "Success!" : "Whoops, broken.")</h2>

@code {
    [SupplyParameterFromQuery]
    [Parameter]
    public bool Success { get; set; } = false;
    
    [SupplyParameterFromQuery]
    [Parameter]
    public string Token { get; set; } = "";

    public bool IsAuthenticated;
    public string UserName;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    
        var authState = await AuthStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        IsAuthenticated = user.Identity?.IsAuthenticated ?? false;
        UserName = IsAuthenticated ? user.Identity.Name : "Anonymous";
    }
}
