@page "/"
@using HAN.Services.DTOs
@using HAN.Services.Interfaces

@inject ICourseService CourseService
@inject NavigationManager NavigationManager

<PageTitle>Home</PageTitle>

<RadzenStack class="rz-p-0 rz-p-md-12">
    <RadzenCard class="rz-p-4" Variant="Variant.Outlined">
        <RadzenCarousel PagerOverlay="false" 
                        ButtonShade="Shade.Default"
                        Interval="1"
                        Style="height:500px">
            <Items>
                @foreach (var course in _courses)
                {
                    <RadzenCarouselItem>
                        <RadzenCard class="rz-w-75">
                            <div class="mb-4">
                                <RadzenStack Orientation="Orientation.Horizontal" Gap="4px" class="mb-2 han-delimiter">
                                    <RadzenIcon Icon="school"/>
                                    @course.Name
                                </RadzenStack>

                                <RadzenTree Style="width: 100%;">
                                    <RadzenTreeItem Text="Evls">
                                        <ChildContent>
                                            @foreach(var evl in course.Evls)
                                            {
                                                <RadzenTreeItem Text="@evl.Name">
                                                    <Template>
                                                        <RadzenLink Path=@($"/evl/{evl.Id}") Text="@($"{@evl.Id} - {@evl.Name}")"></RadzenLink>
                                                    </Template>
                                                </RadzenTreeItem>
                                            }
                                        </ChildContent>
                                        <Template>
                                            <RadzenStack Orientation="Orientation.Horizontal" Gap="4px">
                                                <RadzenIcon Icon="workspace_premium"/>
                                                <RadzenLink Path=@($"/evl/overview") Text="Evl overview"></RadzenLink>
                                            </RadzenStack>
                                        </Template>
                                    </RadzenTreeItem>
                                </RadzenTree>
                                
                                
                            </div>
                            <RadzenButton Click="@(() => NavigateToEditCourse(course.Id))" Icon="edit">
                                <RadzenIcon Icon="edit"/> Edit
                            </RadzenButton>
                        </RadzenCard>
                    </RadzenCarouselItem>
                }
            </Items>
        </RadzenCarousel>
    </RadzenCard>
</RadzenStack>

@code {
    private List<CourseDto> _courses = [];

    protected override Task OnInitializedAsync()
    {
        _courses = CourseService.GetAllCourses();
        return base.OnInitializedAsync();
    }

    private void NavigateToEditCourse(int courseId) => NavigationManager.NavigateTo($"/course/{courseId}");

}