@page "/Login"
@using System.Net
@using HAN.Client.Authentication
@using HAN.Client.Components.UI

@inject CustomAuthStateProvider AuthStateProvider
@inject NavigationManager NavigationManager
@inject HttpClient Http

<h3>Login</h3>

<PrimaryButton Click="LoginUser" />

@code {
    private async void LoginUser()
    {
        var response = await Http.GetAsync("https://localhost:5005/login");
        if (response.IsSuccessStatusCode)
        {
            var token = await response.Content.ReadAsStringAsync();
            AuthStateProvider.MarkUserAsAuthenticated(token);
            NavigationManager.NavigateTo("/");
        }
    }
}