/* RADZEN */

.rz-data-grid .rz-data-row[han-clickable]:hover {
    td {
        background-color: #f5f5f5;
        cursor: pointer;
    }
}

.han-popup {
    display: none;
    position: absolute;
    overflow: hidden;
    padding: 1rem;
    border: var(--rz-panel-border);
    background-color: var(--rz-panel-background-color);
    border-radius: var(--rz-border-radius);
    border: var(--rz-grid-cell-border);
}

.han-notification-item {
    display: flex;
    background-color: #f5f5f5;
    border-radius: 5px;
    padding: 0.5rem;
}

.han-notification-item:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

.han-notification-item .notification-text::before {
    display: inline-block;
    content: "";
    width: 10px;
    height: 10px;
    min-width: 10px;
    min-height: 10px;
    margin-right: 0.5rem;
    background-color: var(--rz-on-primary-lighter);
    border-radius: 50%;
    opacity: 50%;
    margin-top: 5px;
}

.han-notification-item .notification-text {
    font-size: 0.875rem;
}

.han-notification-item .han-notification-item-time {
    font-size: 0.75rem;
    color: var(--rz-on-primary-lighter);
}