
:root {
    --han-shadow-light: rgba(149, 157, 165, 0.1) 0px 8px 24px;
    --han-shadow-medium: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.han-light-shadow {
    box-shadow: var(--han-shadow-light);
}

.han-medium-shadow {
    box-shadow: var(--han-shadow-medium);
}